Checks: '-*,
  modernize-*,
  performance-*,
  readability-*,
  bugprone-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  -llvm-*,
  -llvmlibc-*,
  -zircon-*
  '
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2 