Checks: '*,
        -cppcoreguidelines-*,
        -modernize-use-trailing-return-type,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -abseil-*,
        -llvm-*,
        -llvmlibc-implementation-in-namespace'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2 