BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 62
AccessModifierOffset: -4
UseTab: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false