Checks: '-*
        bugprone-*,
        performance-*,
        readability-*,
        modernize-*,
        -modernize-use-trailing-return-type,
        -readability-magic-numbers'
WarningsAsErrors: 'bugprone-*,performance-*'
HeaderFilterRegex: '^${PROJECT_SOURCE_DIR}/include/'
FormatStyle: 'file'
CheckOptions:
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 2
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2 